<configuration>

  <appender name="INFO_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/info.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>./logs/archive/info.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[INFO] %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="WARN_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/warn.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>./logs/archive/warn.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[WARN] %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>./logs/archive/error.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[ERROR] %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="infoLogger" level="INFO">
    <appender-ref ref="INFO_APPENDER"/>
  </logger>

  <logger name="warnLogger" level="WARN" additivity="false">
    <appender-ref ref="WARN_APPENDER"/>
  </logger>

  <logger name="errorLogger" level="ERROR">
    <appender-ref ref="ERROR_APPENDER"/>
  </logger>

</configuration>
